import React, { PropTypes } from 'react';

const <%= helpers.capitalize(name) %> = (props, context) => {

    return <h1>Hello there!</h1>
}

<%= helpers.capitalize(name) %>.propTypes = {
};

export default <%= helpers.capitalize(name) %>;
